<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", id: 'micropost_text'%>
    <p class="sub_message"><span>Осталось символов:</span> <span id="count_chars"></span></p>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>